@model Plant.Models.PlantDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plant Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.PlantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
